.item-list-container {
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    /* Ancho máximo del contenedor */
    background-color: #f8f9fa;
    /* Fondo gris claro */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra ligera */
    text-align: center;
}

.item-list-container h2 {
    margin-bottom: 10px;
    color: #007bff;
    /* Color azul */
}

.item-list-container p {
    margin: 0;
    color: #555;
    /* Texto gris */
}